// FORM STYLING STARTS HERE

.form {
	width: 90%;
	height: 56rem;
	background-color: $color-white;
	border-radius: 2rem;
	margin: 2rem auto 3rem auto;
	box-shadow: 0.1rem 1rem 0 rgba($color-dark-blue, 0.15);

	&__input {
		font-family: inherit;
		font-size: 1.5rem;
		color: inherit;
		padding: 2rem;  
		display: block;
		width: 85%;
		margin: 4rem auto;
		border-radius: 0.5rem;
		border: 1.5px solid rgb(248, 221, 221);

		&:focus {
			outline: none;
			box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
			border-bottom: 3px solid $color-primary;
		}

		&:focus:invalid {
			border-bottom: 3px solid $color-red;
		}

		&::-webkit-placeholder {
			color: $color-grey-light;
		}
	}

	&__terms {
		font-size: 1.2rem;
		text-align: center;
		margin-top: 1rem;
		color: #938cb8;
		margin: 0 auto;
		display: block;
		font-weight: 500;

		@include respond (phone) {
			text-align: center;
			width: 60%;   
		}
	}

	&__link { 
		color: $color-red;
		text-decoration: none; 
		
		
	}
}

fieldset {
	border: none;
}

// FORM STYLES ENDS HERE.
