//       COLORS 

$color-signup: hsl(217, 28%, 15%);
$color-main : hsl(218, 28%, 13%);
$color-footer: hsl(216, 53%, 9%);
$color-testimonials: hsl(219, 30%, 18%);
$color-white: hsl(0, 0%, 100%);

//Accent

$call-to-action-1: hsl(176, 68%, 64%);
$call-to-action-2 : hsl(198, 60%, 50%);

// FONTS 

$font-primary: 1.4rem;   

$font-raleway: 'raleway', sans-serif;
$font-open: 'Open Sans', sans-serif;






