// Variables for project


// FONTS

$default-font-size: 1.6rem;
$default-font: Poppins, Arial, Helvetica, sans-serif;



// WIDTH

$desktop-width: 1440px;


// COLORS

$color-red: hsl(0, 100%, 74%) ;
$color-green: hsl(154, 59%, 51%);
$color-accent-blue: hsl(248, 32%, 49%);
$color-black: black;
$color-dark-blue: hsl(249, 10%, 26%) ;
$color-grayish-blue: hsl(246, 25%, 77%);
$color-white: #fff;
$color-attribution: hsl(228, 45%, 44%);
$color-primary: #55c57a;
$color-grey-light: #938cb8;

// GRID variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


