.sign-up {
    // grid-row: 6 / 7; 
    // grid-column: column-start 2 / column-end 6; 
    background-color: $color-signup; 
    width:  60%; 
    margin: auto; 
    padding: 6rem;   
    position: relative;
    top: 10rem;  
    
    &__form {
        padding: 1.5rem;    
        display: inline-block;  
        visibility: visible; 
        border-radius: 10rem; 
        border: none;    
        width: 85%;
        font-size: 1.5rem; 
        font-family: inherit;

        &:focus {
			outline: none;
			box-shadow: 0 1rem 3rem rgba(0,0,0, 0.1);
			border-bottom: 5px solid green;
		}

		&:focus:invalid {
			border-bottom: 5px solid red;  
		}
        
        
        @media only screen and (max-width: 62.5em) {
            width: 100%; 
            margin-left: -2rem;  
            
        }
    }

    & form {
        display: grid;
        grid-template-columns: 1fr 25rem;   
        align-items: center;  
        
        @media only screen and (max-width: 62.5em) {
            display: flex; 
            flex-direction: column; 
        
        }
    }

    &__btn {    
        padding: 1.5rem 3rem;  
        border-radius: 10rem; 
        border: none;
        cursor: pointer; 
        background-color: $call-to-action-1;     
        display: inline-block; 
        color: $color-white; 
        font-family: $font-open; 
        font-size: 1.6rem;
        
        &:hover {
            background-color: $call-to-action-2;   

        }
        
        @media only screen and (max-width: 62.5em) {
            width: 60%;
            margin: 2rem auto;  
        
        }
    }

    & label {
        visibility: hidden; 

        @media only screen and (max-width: 62.5em) {
            width: 100%; 
        }
                
    }
}