/*MEDIA QUERY MANAGER

0 - 600px ==> phone

600px - 900px  ==> Tablet-portrait

900px - 1200px ==> Tablet-Landscape

1200px - 1800px ==> normal styles

1800px+ ==> big desktop




$breakpoint ARGUMENTS

phone <= 600px;
tab-port <= 900px
tab-land <= 1200px

big-screen >= 1800px

*/
/* ORDER FOR MEDIA QUERY SETUP:
Base + Typography > general layout + grid > page layout  >  components

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25rem) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 70%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #ff7a7a;
  color: #fff; }

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

.landing__heading {
  color: #fff;
  margin-top: 40%; }
  @media only screen and (max-width: 56.25rem) {
    .landing__heading {
      margin-top: 40%; } }
  @media only screen and (max-width: 37.5rem) {
    .landing__heading {
      margin-top: 3rem;
      text-align: center; } }
  .landing__heading-primary {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5rem) {
      .landing__heading-primary {
        font-size: 4rem; } }
  .landing__heading-text {
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5rem) {
      .landing__heading-text {
        font-size: 2rem; } }

.cta__info {
  width: 90%;
  padding: 1.5rem;
  background-color: #6055a5;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 0.1rem 1rem 0 rgba(62, 60, 73, 0.15);
  color: #fff; }

button {
  padding: 2rem;
  margin: 0 auto 1rem auto;
  display: block;
  width: 85%;
  color: #fff;
  background-color: #38cc8c;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #38cc8c;
  cursor: pointer; }

.form {
  width: 90%;
  height: 56rem;
  background-color: #fff;
  border-radius: 2rem;
  margin: 2rem auto 3rem auto;
  box-shadow: 0.1rem 1rem 0 rgba(62, 60, 73, 0.15); }
  .form__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 2rem;
    display: block;
    width: 85%;
    margin: 4rem auto;
    border-radius: 0.5rem;
    border: 1.5px solid #f8dddd; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7a7a; }
    .form__input::-webkit-placeholder {
      color: #938cb8; }
  .form__terms {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    color: #938cb8;
    margin: 0 auto;
    display: block;
    font-weight: 500; }
    @media only screen and (max-width: 37.5rem) {
      .form__terms {
        text-align: center;
        width: 60%; } }
  .form__link {
    color: #ff7a7a;
    text-decoration: none; }

fieldset {
  border: none; }

.footer {
  margin: -1rem auto -2rem auto;
  background-color: #3e3c49;
  font-size: 1.6rem;
  padding: 4rem 0;
  color: #fff; }
  .footer__attribution {
    text-align: center;
    font-style: italic; }
  .footer__link, .footer:link, .footer:visited {
    color: #938cb8;
    transition: all .2s ease-in;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #3e3c49;
    cursor: pointer; }
    .footer__link:hover, .footer__link:active, .footer:link:hover, .footer:link:active, .footer:visited:hover, .footer:visited:active {
      transform: rotate(5deg) scale(1.3);
      display: inline-block;
      color: #ff7a7a;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem;
      padding-left: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
    @media only screen and (max-width: 37.5rem) {
      .row .col-1-of-2 {
        width: 100%; } }

main {
  background-color: #ff7a7a;
  background-image: url(../images/bg-intro-desktop.png);
  background-size: cover;
  background-blend-mode: normal; }
