.footer {
	margin: -1rem auto -2rem auto;
    background-color: $color-dark-blue;
    font-size: $default-font-size;
    padding: 4rem 0;
    color: $color-white;

    &__attribution {
	text-align: center;
	font-style: italic;
	 
    }


    &__link,
    &:link,
    &:visited {
        color: $color-grey-light; 
        transition: all .2s ease-in;  
        text-decoration: none; 
        text-transform: uppercase; 
        background-color: $color-dark-blue;
        cursor: pointer;

        &:hover,
        &:active {
        transform: rotate(5deg) scale(1.3);
        display: inline-block; 
        color: $color-red; 
        box-shadow: 0 1rem 2rem rgba($color-black, .1);

        }
    }

   
    
     
}


	 
